.PlayableBanner_btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 110%;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s;
    cursor: pointer;

    @media (max-width: 320px) {
        font-size: 10.5px;
        line-height: normal;
    }
}

.PlayableBanner_close-button {
    position: absolute;
    top: 0;
    left: 98%;
    transform: translate(-98%, -40%);
    z-index: 100;
    font-family: none;

    .PlayableBanner_button {
        background-color: #1d0101;
        color: white;
        border-radius: 50%;
        opacity: 1;
        width: 24px;
        height: 24px;
        text-shadow: none;
        float: right;
        font-size: 1.4rem;
        // font-weight: 700;
        // line-height: 1.6rem;
        border: 0;
        padding: 0;

        div {
            // height: 100%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
}

.PlayableBanner_btn-golden {
    background: url("https://static1.yan.vn/playable/boibaitay/images/BoiBaiTay_PlayableBanner_button-background.png?v=2.0") no-repeat center center;
    background-size: cover;
    color: #2b1e1a;
    border-radius: 50px;
    width: 100%;
    font-family: "Montserrat-Black";
}
