@font-face {
    font-family: "Montserrat-Bold";
    src: url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-Bold.woff") format("woff"),
        url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-ExtraBold.woff") format("woff"),
        url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-Black.woff") format("woff"),
        url("https://static1.yan.vn/playable/boibaitay/fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}