// Fonts
@import "fonts";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

//
@import "buttons";

.PlayableBanner{
    font-family: "Montserrat-Bold";
    max-width: 560px;

    @media (max-width: 320px) {
        font-size: 11px;
    }

    @media (min-width: 321px) {
        font-size: 12.5px;
    }

    @media (min-width: 410px) {
        font-size: 14px;
    }

    @media (min-width: 768px) {
        font-size: 19px;
    }
}



.PlayableBanner_link {
    color: $golden!important;
    width: 100%;

    &:focus {
        color: $golden!important;
    }
}

.PlayableBanner_img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}

.PlayableBanner_text-golden {
    color: $golden;
}

.PlayableBanner_text-large {
    font-size: 1.4em;
}

//shine
.PlayableBanner_shine {
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 3em;
        top: 0;
        left: -4.5em;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50px;//ios
        animation: glint 1.5s infinite;
        animation-delay: 0.5s;
    }
}

@keyframes glint {
    0%{
        transform: skewX(-45deg) translateX(0);
    }
    100%{
        transform: translateX(23.5em);
    }
};
