.PlayableBanner_answer {
    white-space: pre-line;
    color: #deb981;
}

.PlayableBanner_answer h5 {
    margin: 0;
    font-family: "Montserrat-ExtraBold";
    font-size: 1.2em;
    color: #e1b231;
}

.PlayableBanner_answer p {
    margin: 0;
}
