.PlayableBanner_withdraw-layout {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("https://static1.yan.vn/playable/boibaitay/images/BoiBaiTay_PlayableBanner_Background_full.jpg?v=2.0") no-repeat center center;
    background-size: cover;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    border-top: 2px solid #deb981;
    border-left: 2px solid #deb981;
    border-right: 2px solid #deb981;
}

.PlayableBanner_header .PlayableBanner_title img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
.PlayableBanner_header .PlayableBanner_note {
    text-align: center;
    color: #deb981;
}

/* card */
.PlayableBanner_card-stack.active .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 168px;
    perspective: 1000px;
}

.flip-card .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    max-width: 100px;
    border: 1px solid;
    border-image-source: linear-gradient(45deg, #8d1408, #3c0906);
    border-image-slice: 1;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}
