.PlayableBanner_visible-banner{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-top: 2px solid #deb981;
    border-left: 2px solid #deb981;
    border-right: 2px solid #deb981;
}

.PlayableBanner_background-theme {
    background: url("https://static1.yan.vn/playable/boibaitay/images/BoiBaiTay_PlayableBanner_Background_small.jpg?v=2.0") no-repeat center center;
    background-size: cover;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.PlayableBanner_app-logo{
    margin: 0 auto;
}

@media (max-width: 767px) {
    .PlayableBanner_app-logo {
        max-height: 56px;
    }
}
@media (min-width: 768px) {
    .PlayableBanner_app-logo {
        max-height: 64px;
    }
}